// COLORS
// https://colorhunt.co/palette/206782
$colors-primary: (
  primary: #ebd4d4,
  dark: #463333,
  med: #835858,
  light: #fff0f0,
);

body {
  background-color: map-get($colors-primary, primary);
}
