// COLORS
// https://colorhunt.co/palette/206782
$colors-primary: (
  primary: ##ec9826,
  dark: #463333,
  med: #835858,
  light: #ec9826,
);

// FONT
$font-primary: "Montserrat Alternates", sans-serif;

// LAYOUT
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: fangsong;
}

body {
  background-color: #e7a142;
  font-weight: 400;
}
